target/
.env
.idea/
*.iml
.classpath
.project
.settings/
src/main/frontend/dist/
src/main/frontend/.idea/
src/main/frontend/node_modules/
src/main/frontend/node/
src/main/resources/
.mvn/
src/main/frontend/
/out/
/.mvn/
